

.cabecalho__menu-hamburguer{
    width: 36px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    
}

.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho .container{
    display: flex;
    align-items: center;
    gap: 15px;

}

.cabecalho .container__imagem{
    padding: 0.5em;
}

.lista-menu {
    width: 60vw;
    display: none;
    position: absolute;
    top:100%;
}

.container__botao:checked~ .lista-menu{
    display: block;

}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--cor-branco);

}

.lista-menu__titulo{
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-titulo-header);
}

.lista-menu__link{  
    font-size: 16px;
    background: var(--cor-azul-gradiant);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform:uppercase;
}